@model IEnumerable<BookCatalog.ViewModel.MultiselectAuthorVM>

@Scripts.Render("~/main-page/js")
@Scripts.Render("~/book-view/js")

<div class="row">
    <div class="col-md-12 collapse" id="edit_book_zone">
        @{ Html.RenderPartial("_BookForm", Model); }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="bookTbl" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Rating</th>
                    <th>Page Count</th>
                    <th>Author</th>
                </tr>
            </thead>
        
            <tbody>
            
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    Catalog.loadDataUrl = '@Url.Action("LoadGridData", "Home")';
    Catalog.deleteBookUrl = '@Url.Action("DeleteBook", "Book")';
    Catalog.Init('#bookTbl');

    Book.saveBookUrl = '@Url.Action("UpdateBook", "Book")';
    Book.getBookUrl = '@Url.Action("GetBook", "Book")';
    Book.goToMainPage = '@Url.Action("Index", "Home")';

    Book.Init("#datepickerContainer", "#author");
</script>