@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Books Catalog</title>

    @Styles.Render("~/global/css")
    @Scripts.Render("~/global/js")

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Books catalog</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("Create","Book")">Add book</a></li>
                <li><a href="@Url.Action("Create","Author")">Add author</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    @RenderBody()
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });
</script>
</body>
</html>